@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --primary: #467CD5;
    --secondary: #14b8a6;

    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bg-table: #ffffff;

    --text-primary: #111827;
    --text-secondary: #6b7280;

    --border-color: rgba(0, 0, 0, 0.08);
}

[data-theme="dark"] {
    --bg-primary: #141414;
    --bg-secondary: #1D1D1D;
    --bg-table: #141414;

    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;

    --border-color: rgba(255, 255, 255, 0.08);
}

.ant-segmented {
    --ant-segmented-track-bg: #424343 !important;
}